@font-face {
    font-family: "Nougat";
    src: url("Nougat-ExtraBlack.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
    color:#0A2342;
}

header{
    background:#ffffff;
    padding:25px;
    border-bottom:4px solid #0A2342;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

header h1{
    text-align:center;
    color:#0A2342;
    font-size:34px;
    margin-bottom:20px;
}

.spielerbox{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#eef3fa;
    padding:15px;
    border-radius:12px;
    font-weight:bold;
}

nav{
    display:flex;
    gap:12px;
    overflow-x:auto;
    padding:15px;
    background:#ffffff;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

nav button{
    min-width:120px;
}

main{
    padding:20px;
}

.karte{
    background:#ffffff;
    border-radius:18px;
    padding:22px;
    margin-bottom:25px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.karte h2{
    color:#0A2342;
    margin-bottom:20px;
    font-size:26px;
}

input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:2px solid #d8dee9;
    border-radius:12px;
    font-size:17px;
    background:white;
    color:#0A2342;
}

input:focus{
    outline:none;
    border-color:#2563eb;
}

button {

    width: 100%;
    padding: 18px 20px;

    background: #182b4d;
    color: white;

    border: none;
    border-radius: 18px;

    font-family: "Nougat", sans-serif;
    font-size: 22px;

    cursor: pointer;

    transition: all 0.2s ease;

    box-shadow:
        0 6px 16px rgba(0,0,0,.25);

}
button:hover {

    transform: translateY(-2px);

    box-shadow:
        0 10px 24px rgba(0,0,0,.30);

}

button:active {

    transform: scale(.98);

}


.spiel{
    background:#f8fafc;
    border:2px solid #e5e7eb;
    border-radius:16px;
    padding:22px;
    margin-bottom:22px;
}

.spiel strong{
    display:block;
    text-align:center;
    font-size:22px;
    color:#0A2342;
}

.quoten{
    display:flex;
    gap:15px;
    margin:22px 0;
}

.quoten button{
    flex:1;
    width:auto;
    background:#0A2342;
    color:white;
    font-size:20px;
    padding:18px 0;
}

.quoten button:hover{
    background:#2563eb;
}

#wettscheinListe p{
    background:#eef3fa;
    padding:15px;
    border-radius:12px;
    margin-bottom:12px;
    line-height:1.6;
    color:#0A2342;
}

hr{
    border:none;
    height:2px;
    background:#d8dee9;
    margin:25px 0;
}
h1,
h2,
h3,
button {

    font-family: "Nougat", sans-serif;

}


